node_modules
.next
dist
.turbo
*.tsbuildinfo
.git
.DS_Store
# Tests & coverage
test
tests
**/*.spec.ts
**/*.test.ts
coverage
# Docs
README*
*.md
CHANGELOG*
# Env & logs
.env
.env.*
*.log
# IDE
.vscode
.idea
